body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("/media/bg3.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.input {
  /* padding: 10px 20px; */
  padding-left: 10px;
  margin: 10px;
  border: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  /* background: transparent; */
  background: rgba(255, 255, 255, 0.94);
}
.gap {
  margin-left: 70px;
}
.submit_btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  color: white;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  border: 0;
  outline: none;
  border-radius: 30px;
  margin-right: 400px;
}
.space {
  margin-top: 30px;
  width: 20%;
}
